.wp-block-cgb-cta-block-gutenberg-blocks {
  .cta-block {
	display: block;
	padding: 18px 12px;
	border-radius: 6px;
	box-sizing: border-box;
	box-shadow: 2px 2px 5px rgba(50,50,50,.2);
	background-image: linear-gradient(to top, #9f85e6, #c66ceb);
	&__link {
	  display: block;
	  padding: 8px 8px 4px;
	  margin: 0 auto 12px;
	  border: 1px solid #6866d1;
	  color: #4f4fc7;
	  width: 100%;
	  font: 400 16px/18px 'Roboto', 'Arial', sans-serif;
	  text-decoration: none;
	  &::placeholder {
		text-decoration: none;
	  }
	}
	&__paragraph {
	  display: block;
	  padding: 4px 8px;
	  margin: 0 auto;
	  border: 1px solid #6866d1;
	  width: 100%;
	  min-height: 86px;
	  font: 700 24px/30px 'Roboto', 'Arial', sans-serif;
	  text-align: left;
	  color: #0a0a0a;
	}
  }
}
