.wp-block-cgb-banner-block-gutenberg-blocks {
	.banner-block {
	  display: block;
	  padding: 18px 12px;
	  border: 2px solid #6866d1;
	  border-radius: 6px;
	  box-sizing: border-box;
	  box-shadow: 2px 2px 5px rgba(50,50,50,.2);
	  &__title {
		display: block;
		padding: 2px 8px;
		margin: 0 auto 24px;
		border: 1px solid #6866d1;
		width: 70%;
		font: 700 20px/24px 'Roboto', 'Arial', sans-serif;
		text-align: center;
	  }
	  &__paragraph {
		display: block;
		padding: 4px 8px;
		margin: 0 auto;
		border: 1px solid #6866d1;
		width: 90%;
		min-height: 66px;
		font: 400 16px/18px 'Roboto', 'Arial', sans-serif;
		text-align: center;
	  }
	}
}
